<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Source Job: <%= @source %></h2>
    <h3>Status: <%= @status %></h3>
    <p>
      <%= @body %>
    </p>
  </body>
</html>