// $font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
$font-url: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
@import 'semantic-ui';


$pageBackground : #333;

body {
  background-color: #ededed; //Light Gray
}

//blue Application Title
#app_title {
    border-radius: 0px !important;
}

.top.menu {
  height: 49px !important;
}


/* CONTENT */
//too wide pusher content
.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 260px);
}

.pusher {
  margin-top: 48px;
  padding: 10px;
}


.ui.sidebar.visible {
  background-color: #333C44;
}


/* TABLE */
.ui.table thead tr th {
    background-color: #4863A0; //Steel Blue
    color: white;
}

.ui.table tbody tr {
  font-size: 11px;
}



.right.menu {
padding-right: 270px;

}

