// $font-url: 'http://fonts.useso.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
$font-url: 'http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin';
@import 'semantic-ui';
@import 'calendar.min';


$pageBackground : #333;

body {
  background-color: #ededed; //Light Gray
}

body.pushable > .pusher {
  background-color: #ededed; //Light Gray
}

//blue Application Title
#app_title {
    border-radius: 0px !important;
}

.top.menu {
  height: 49px !important;
}


/* CONTENT */
//too wide pusher content
.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 260px);
}

.pusher {
  margin-top: 48px;
  padding: 10px;
}


.ui.sidebar.visible {
  background-color: #333C44;
}


/* TABLE */
.ui.table thead tr th {
    background-color: #4863A0; //Steel Blue
    color: white;
    font-size: 12px;
}

.ui.table.sortable thead tr th {
    background-color: #4863A0; //Steel Blue
    color: white;
    font-size: 12px;
}

.ui.table.sortable thead th:hover {
    background-color: #405990; //Light Steel Blue
    color: white;
}

.ui.table.sortable th.sorted.ascending {
    background-color: #7e91bc; //Light Steel Blue
    color: white;
}

.ui.table.sortable th.sorted.descending {
    background-color: #7e91bc; //Light Steel Blue
    color: white;
}


.ui.table tbody tr {
  font-size: 11px;
}

.ui.table.tiny-char tbody tr {
  font-size: 9px;
}




.logout {
	padding-right: 260px;
}

