<% c = controller.controller_name %>
			
<div class="ui icon mini buttons">
  <%= link_to '<i class="edit icon"></i>'.html_safe, {:controller => c }, :id => "news" , class: "ui button" %> 
  <%= link_to '<i class="delete icon"></i>'.html_safe, {:controller => c, method: :delete, data: { confirm: "Are you sure ?" }}, class: "ui button red" %>
</div>
